<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= subject %></title>
    <style>
      iframe {
        border: 0;
        height: 100%;
        width: 100%;
        min-height: 800px;
        max-width: 600px;
        display: block;
      }
      .tabs {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        border: 1px solid black;
        background: #e2e2e2;
      }
      .tabs input[type="radio"] {
        display: none;
      }
      .tabs label {
        padding: 1rem;
        background: #e2e2e2;
        font-weight: bold;
        cursor: pointer;
      }
      .tabs .tab {
        width: 100%;
        background: #fff;
        order: 1;
        display: none;
      }
      .tabs input[type='radio']:checked + label + .tab {
        display: block;
      }
      .tabs input[type="radio"]:checked + label {
        background: #fff;
      }
    </style>
    <script>
      function downloadRawEmail() {
        const link = document.createElement('a');
        link.href = "data:message/rfc822;base64,<%- base64 %>";
        link.download = "<%- messageId ? messageId.replace('<', '').replace('>', '').split('@')[0] : Date.now() %>.eml";
        link.click();
      }
    </script>
  </head>
  <body>
    <table>
      <tr>
        <td colspan="2" style="text-align: right">
          <button onclick="downloadRawEmail()">Download Original</button>
        </td>
      </tr>
      <%_ headerLines.forEach(function(headerLine) { %>
      <%_ const index = headerLine.line %>
      <%_ const value = headerLine.line.slice(index + 2) %>
      <%_ const header = headers.get(headerLine.key) %>
      <tr>
        <td><strong><%= headerLine.key %></strong></td>
        <td>
          <%_ if(header.html) { %>
          <%- header.html %>
          <%_ } else { %>
          <%= header?.value ?? value %>
          <%_ } %>
        </td>
      </tr>
      <%_ }); %>
      <%_ (attachments || []).forEach(function(attachment) { %>
      <tr>
        <td><strong>Attachments</strong></td>
        <td>
          <ul>
            <%_ attachment.forEach(function(e) { %>
            <li>
              <a
                href="data:<%= a.contentType %>;base64,<%= a.content.toString('base64') %>"
                download="<%= a.filename %>"
                target="_blank"
                code="<%= a.filename ?? 'Unnamed file' %>"></a>
            </li>
            <%_ }); %>
          </ul>
        </td>
      </tr>
      <%_ }); %>
    </table>
    <div class="tabs">
      <%_ if(html) { %>
        <input
          id="tab-html"
          type="radio"
          name="preview"
          checked>
        <label for="tab-html">HTML</label>
        <div class="tab">
          <iframe
            id="html"
            sandbox="allow-popups"
            referrerpolicy="no-referrer"
            seamless="seamless"
            srcdoc="<base target='_top'><%= html %>"></iframe>
        </div>
      <%_ } %>
      <%_ if(text) { %>
        <input
          id="tab-text"
          type="radio"
          name="preview"
          <%= html ? '' : 'checked' %>>
        <label for="tab-text">Plain text</label>
        <div class="tab">
          <iframe
            id="text"
            sandbox="allow-popups"
            referrerpolicy="no-referrer"
            seamless="seamless"
            srcdoc="<pre><%= text %></pre>"></iframe>
        </div>
      <%_ } %>
    </div>
  </body>
</html>
